@font-face {
  font-family: chillax;
  src: url(./63cffc0a3942456e003bc265_Chillax-Regular.ttf);
}

@font-face {
  font-family: satosi;
  src: url(./63cffc20aa8997095067596f_Satoshi-Light.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./L0x5DF4xlVMF-BfR8bXMIjhLq38.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}


body {
  background-color: #121212;
  font-family: roboto;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}


section {
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section.view1 {
    width: 100%;
    @include flex-column(0.7rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.9375rem;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      @include flex-column(3.5rem);
      padding: 1.5rem;
      border-radius: 0.9375rem;


      #stu{
        font-size: 0.875rem;
      }

      .text {
        @include flex-column(0.7rem);



        .break {
          display: block;
        }

        h1 {
          font-family: chillax;
          font-size: 2.25rem;
          font-weight: 300;
          line-height: 120%;
          text-transform: uppercase;
        }

        p {
          font-weight: 400;
          opacity: 0.6;
          font-family: satosi;
          font-size: 1.25rem;
          line-height: 160%;
          letter-spacing: 1px;
        }

        button {
          width: fit-content;
          margin-top: 1.25rem;
          color: black;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;

        }
      }
    }
  }



  section.view2 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;


    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;




      .element {
        text-align: center;
        @include flex-column(0.2rem);

        small {
          opacity: 0.6;
          font-size: 0.875rem;
          font-family: roboto;
        }



        h2 {
          font-size: 2.25rem;
          font-weight: 300;
          font-family: chillax;
        }
      }



    }




  }


  section.view3 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);



    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.9375rem;
      }

    }

    .bottom {
      background-color: #1e1e1e;
      @include flex-column(3.5rem);
      padding: 1.5rem;
      border-radius: 0.9375rem;


      #one{
        font-size: 0.875rem;
      }


      .text {
        @include flex-column(0.7rem);

        h1 {
          font-family: chillax;
          font-size: clamp(2rem, 5vw, 4rem);
          font-weight: 300;
          line-height: 120%;
          text-transform: uppercase;
        }

       

          
           p {
            font-weight: 400;
            opacity: 0.6;
            font-family: satosi;
            font-size: 1rem;
            line-height: 160%;
            letter-spacing: 1px;
          }

        button {
          width: fit-content;
          margin-top: 1.25rem;
          color: black;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;

        }
      }
    }
  }

  section.view4 {
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;


    .card-1 {
      width: 100%;
      background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
      background-size: cover;
      aspect-ratio: 1/1;
      border-radius: 0.9375rem;


      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;


      .icon,
      .bottom {
        background-color: rgba(84, 84, 84, 0.375);
        backdrop-filter: blur(5px);
        border: 0.1px solid white;
        border-radius: 0.7rem;
        padding: 0.5rem;
      }

      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;


        p {
          text-transform: uppercase;
          font-size: 1.25rem;
        }
      }

    }
    .card-2 {
      width: 100%;
      background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-1080.webp);
      background-size: cover;
      aspect-ratio: 1/1;
      border-radius: 0.9375rem;


      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;


      .icon,
      .bottom {
        background-color: rgba(84, 84, 84, 0.375);
        backdrop-filter: blur(5px);
        border: 0.1px solid white;
        border-radius: 0.7rem;
        padding: 0.5rem;
      }

      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;


        p {
          text-transform: uppercase;
          font-size: 1.25rem;
        }
      }

    }
    .card-3 {
      width: 100%;
      background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-1080.webp);
      background-size: cover;
      aspect-ratio: 1/1;
      border-radius: 0.9375rem;


      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;


      .icon,
      .bottom {
        background-color: rgba(84, 84, 84, 0.375);
        backdrop-filter: blur(5px);
        border: 0.1px solid white;
        border-radius: 0.7rem;
        padding: 0.5rem;
      }

      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;


        p {
          text-transform: uppercase;
          font-size: 1.25rem;
        }
      }

    }
  }

}


@media (min-width:900px) {
  main {




    section.view1 {
      flex-direction: row;
      padding: 2.5rem 1rem;
      gap: 1rem;


      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;



        .text {
          .break {
            display: none;
          }

          gap: 0.5rem;

          h1 {
            font-size: 4rem;
            font-weight: 400;

          }

          p {
            width: 90%;
            font-size: 1.25rem;
          }
        }
      }


    }


    section.view2 {
      flex-direction: row;
      padding: 2.5rem 1rem;

    .top h2{
      font-size: 4rem;
    }
    }

    section.view3 {
      flex-direction: row-reverse;
      padding: 2.5rem 1rem;

      .top,
      .bottom {
        width: 50%;
      }



      .bottom {
        justify-content: space-between;
        padding: 3rem;


        #one{
          font-size: 0.875rem;
        }

        .text h1 {
          font-size: 3rem;
        }

        .paragraphs {
          display: flex;
          gap: 2rem;

         .second p {
            font-size: 1.25rem;
          }
        }
      }
    }

    section.view4 {
      flex-direction: row;
      padding: 1rem 1rem;
    }
  }
}